body{
    background-color: black;
}

h1{
    text-align: center;
    margin-top: 50px;
    margin-bottom: 30px;
    color: white;
}

strong{
    color: white;
}

form{
    margin-top: 90px;
    margin-left: 30%;
    margin-bottom: 10px;
    margin-right: 30%;
    padding-top: 0px;
    padding-left: 50px;
    padding-bottom: 0px;
    padding-right: 50px;
    border: 2px solid rgb(255, 123, 0);
    border-radius: 5px;
}

#butao{
    margin-bottom: 10px;
    width: 100%;
    background-color: #424242;
    color: rgb(255, 255, 255);
    font-size: 20px;
    padding: px;
    border: 1px solid  black;
    border-radius: 5px;
}

#butao:hover{
    background-color: #ff8800;
    transition-duration: 0.4s;
    color: white;
}

p{
    text-align: center;
}

a{
    text-decoration: none;
    color: white;
}

a:hover{
    text-decoration: underline;
}
